%section.vanilla_form
  %h1 Log Into Pad Crash
  %article
    = form_for :session, :url => "/login" do |f|
      = f.text_field :email, placeholder: "Email"
      %br
      = f.password_field :password, placeholder: "Password"
      %br
      = f.submit "Login"