= form_tag(couch_nights_path, method: 'post') do

  %section.dates
    = text_field_tag "First Night", placeholder="First Night"
    = text_field_tag "Last Night", placeholder="Last Night"

  = submit_tag "Make Available"
