---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACadaa34d3fb4244902c46efd15247a1bd/Messages.json
    body:
      encoding: US-ASCII
      string: From=19085830116&To=8980471119&Body=561208
    headers:
      Authorization:
      - Basic QUNhZGFhMzRkM2ZiNDI0NDkwMmM0NmVmZDE1MjQ3YTFiZDo3ZGZmYjFlNjhlOGI4MzA4OGIyN2MyNDg1Y2VhYjEyNw==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.071'
      Twilio-Request-Id:
      - RQ6d3b64602ee94a1aad454932c7958227
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number 8980471119 is not a valid
        phone number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Thu, 16 Feb 2017 14:38:54 GMT
recorded_with: VCR 3.0.3
