.available-couches {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .results {
    width: 50%;
    >p {
      margin: 20px;
      font-style: italic;
    }
    section {
      margin: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      article {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        section {
          width: 80%;
          display: flex;
          justify-content: space-between;
          flex-flow: row wrap;
          input {
            text-align: center;
            width: 50%;
            margin: 0 auto;
            &[type="submit"] {
              background: $purple;
              border-radius: 5px;
              border: none;
              color: $light;
              padding: 5px 0;
              font-size: 1.5em;
              width: 150%;
              margin: 0 auto;
              &:hover, &:focus {
                background: $accent;
              }
            }
          }
        }
      }
    }
  }
  .map {
    border: 2px solid black;
    width: 50%;
    h2 {
      margin: 10px;
    }
  }
}