.banner {
  width: 100%;
  background: url("https://images.unsplash.com/photo-1473500532252-27335de9ee58") top right no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .home {
    width: 60%;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h2 {
      color: $light;
    }
    article {
      form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 10em;
        section.dates {
          display: inline-flex;
          width: 100%;
          justify-content: space-between;
          input {
            width: 50%;
          }
        }
        input {
          text-align: left;
          &#Destination {
            height: 2em;
            font-size: 1.5em;
            width: 100%;
          }
          &[type='submit'] {
            background: $purple;
            border-radius: 5px;
            text-align: center;
            border: none;
            color: $light;
            padding: 5px 0;
            height: 2em;
            font-size: 1.5em;
            width: 35%;
            margin: 0 auto;
            &:hover, &:focus {
              background: $accent;
            }
          }
        }
      }
    }
  }
}