%article
  %h3
    = couch.name
  %p
    = couch.description
  = button_to('Reserve', reservations_path( |
      couch_id: couch.id,                   |
      check_in: @query.check_in,            |
      check_out: @query.check_out))         |
