<<<<<<< HEAD
= link_to('Add Availability')
=======
- @couch.photos.each do |photo|
  = image_tag(photo.image)
= link_to("Add Couch Photos", new_couch_photo_path(@couch))
= link_to('Add Availability', )
>>>>>>> master
