.reservations {
  width: 90%;
  margin: 0 auto;
  h2 {
    margin: 20px 0;
  }
  .head {
    display: flex;
    width: 96%;
    justify-content: space-between;
    margin: 0 5px;
    article {
      width: 18%;
      font-size: 20px;
    }
  }
  .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    &:nth-child(even) {
      article {
        background: $purple;
      }
    }
    &:nth-child(odd) {
      article {
        background: $accent;
      }
    }
    article {
      width: 19%;
      color: $light;
      margin: 10px 0;
      text-align: center;
      padding: 5px;
      font-size: 20px;
      a {
        color: $light;
      }
    }
  }
}