.couch-nights, .new-couch-photo {
  margin: 20px;
  h2 {
    margin: 20px 0;
  }
  form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    .dates {
      margin: 20px auto;
    }
    input {
      text-align: center;
      width: 50%;
      margin: 20px auto;
      &[type="submit"] {
        background: $purple;
        border-radius: 5px;
        border: none;
        color: $light;
        padding: 5px 0;
        font-size: 1.5em;
        width: 35%;
        &:hover, &:focus {
          background: $accent;
        }
      }
    }
  }
}