%h1 Pad Search

%article.home_reservation


    = text_field_tag "Destination", value= @search_params["Destination"]

    %section.dates#datepicker
    = text_field_tag "Check In", value= @search_params["Check In"]
    = text_field_tag "Check Out", value= @search_params["Check Out"]

    %button.update_search Update Search
%br
%br

= render partial: 'search/available_couches/search'
