%nav
  %section.nav_left
    %h3
      = link_to('Pad Crash', root_path)
  %section.nav_right
    %ul
      - if current_user
        %li
          = link_to("Sign Out", "/logout" )
      - else
        %li
          = link_to("Create Account", new_user_path)
        %li
          = link_to("Log In", new_session_path)
